.section {
	// .section__faq
	&__faq {
	}
	// .section__icon
	&__icon {
	}
	// .section__title
	&__title {
	}
}
.faq {
	margin-top: 50px;
	margin-bottom: 100px;
	@media (max-width: $breakpoint768) {
		margin: 25px 0 50px 0;
	}
	.accordion {
		display: flex;
		flex-direction: column;
		gap: 14px;

		&__item {
			background: #ffffff;
			box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
			border-radius: 6px;

			&.accordion__item-active {
				.accordion__item-content {
					display: block;
				}
				.accordion__item-trigger {
					.trigger__icon {
						color: rgb(80, 149, 11);
					}
					.trigger__text {
						opacity: 1;
						transition: 0.5s ease;
						color: rgb(80, 149, 11);
					}
				}
			}

			&-trigger {
				display: flex;
				padding: 18px 22px;
				align-items: center;
				cursor: pointer;
				gap: 20px;
				transition: all 0.3s ease;
				&:hover {
					.trigger__text,
					.trigger__icon {
						color: rgb(80, 149, 11);
					}
				}
				&--faq {
					justify-content: space-between;
				}

				@media (max-width: $breakpoint768) {
					padding: 12px;
				}

				.trigger__icon {
					margin-right: 10px;
					font-style: normal;
					font-weight: 400;
					font-size: 36px;
					line-height: 22px;
					letter-spacing: 0.035em;
					color: $gray;
					@media (max-width: $breakpoint480) {
						font-size: 22px;
					}
				}

				.trigger__text {
					font-style: normal;
					font-weight: 600;
					font-size: 24px;
					line-height: 32px;
					color: #001731;
					@media (max-width: $breakpoint768) {
						font-size: 18px;
						line-height: 28px;
					}
					@media (max-width: $breakpoint480) {
						font-size: 16px;
						line-height: 24px;
					}
				}
			}
			&-content {
				padding-bottom: 36px;
				display: none;
				animation: fade 0.3s ease;

				.content__text {
					margin-top: 25px;
					padding: 0 28px;
					font-size: 16px;
					line-height: 190%;
					letter-spacing: 0.02em;
					color: rgba(0, 23, 49, 0.55);
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
	.questions {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 165%;
		color: #737f8e;
		margin-top: 20px;
		@media (max-width: $breakpoint768) {
			font-size: 16px;
		}
		@media (max-width: $breakpoint768) {
			font-size: 14px;
		}
		a {
			color: $secondary;
			text-decoration: underline;
		}
	}
}
