* {
	font-family: $fontMain;
	font-weight: 400;
	color: $primary;
}
a {
	text-decoration: none;
}

ul {
	list-style: none;
}

// Container
.container {
	max-width: ($containerWidth + $containerPadding) + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 $containerSidePadding + px;

	@media (max-width: $breakpoint1200) {
		max-width: 1160px;
	}
	@media (max-width: $breakpoint992) {
		max-width: 970px;
	}
	@media (max-width: $breakpoint768) {
		max-width: 740px;
	}
	@media (max-width: $breakpoint480) {
		max-width: none;
	}
}
// Body Locked
body {
	&.lock {
		overflow: hidden;
		@media (max-width: 768px) {
			.menu__body {
				background-color: rgba(0, 0, 0, 0.7);
			}
		}
	}
}

// Setion
.section {
	&__icon {
		@media (max-width: $breakpoint480) {
			text-align: center;
		}
	}
	// .section__title
	&__title {
		margin-top: 24px;
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 110%;
		letter-spacing: -0.03em;
		color: $primary;
		@media (max-width: $breakpoint768) {
			margin-top: 14px;
			font-size: 32px;
		}
		@media (max-width: $breakpoint480) {
			text-align: center;
		}
	}
	// .section__text
	&__text {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.01em;
		color: rgba(0, 23, 49, 0.55);
		margin-top: 5px;
		@media (max-width: $breakpoint768) {
			line-height: 24px;
			font-size: 18px;
		}
		@media (max-width: $breakpoint480) {
			text-align: center;
		}
	}
}

// Animations
// Fade
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Global
.btn {
	padding: 15px 22px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.01em;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	// .btn__primary
	&__primary {
		color: $secondary;
		background: rgba(44, 130, 253, 0.15);
		transition: all 0.3s ease;
		&:hover {
			background: #033883;
			color: $white;
		}
	}
	// .btn__secondary
	&__secondary {
		background: $secondary;
		color: $white;
		transition: all 0.3s ease;
		&:hover {
			background: #1b5fbe;
		}
	}
}
