.section {
	// .section__hero

	&__hero {
		@media (max-width: $breakpoint768) {
			text-align: center;
		}
	}
}
.hero {
	// .hero__gradient
	&__gradient {
		position: absolute;
		width: 80%;
		height: 80%;
		left: 30%;
		top: 60%;

		background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(57, 139, 255, 0.324) 0%,
			rgba(57, 139, 255, 0.24) 20.83%,
			rgba(57, 139, 255, 0) 100%
		);
		opacity: 0.75;
	}
	// .hero__screen
	&__screen {
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 640px;
		@media (max-width: 1300px) {
			max-width: 570px;
		}
		@media (max-width: $breakpoint1200) {
			max-width: 470px;
		}
		@media (max-width: $breakpoint992) {
			max-width: 400px;
		}
		@media (max-width: $breakpoint480) {
			max-width: 275px;
		}
		@media (max-width: 280px) {
			max-width: 240px;
		}
		@media (max-height: 720px) {
			max-width: 275px;
		}
		@media (max-height: 653px) {
			max-width: 240px;
		}
	}
	// .hero__title
	&__title {
		padding-top: 80px;
		font-weight: 700;
		font-size: 72px;
		line-height: 95%;
		letter-spacing: -0.03em;
		color: #ffffff;
		max-width: 715px;

		span {
			white-space: nowrap;
			color: inherit;
			font-weight: inherit;
		}
		@media (max-width: $breakpoint992) {
			max-width: 100%;
			font-size: 58px;
		}
		@media (max-width: $breakpoint768) {
			font-size: 42px;
			line-height: 110%;
			padding-top: 60px;
		}
		@media (max-width: $breakpoint480) {
			font-size: 22px;
		}
	}
	// .hero_btns
	&_btns {
		margin-top: 20px;
		// .hero_btn
		.hero__btn {
			margin: 14px 0;

			@media (max-width: $breakpoint480) {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
	// .hero__span
	&__span {
		margin: 0 14px;
		font-size: 20px;
		line-height: 145%;
		color: rgba(255, 255, 255, 0.35);
		@media (max-width: $breakpoint480) {
			display: none;
		}
	}
	// .hero__text
	&__text {
		position: relative;
		font-size: 22px;
		line-height: 145%;
		color: #aac0e0;
		max-width: 533px;
		padding: 36px 0;
		@media (max-width: $breakpoint992) {
			max-width: 53%;
		}
		@media (max-width: $breakpoint768) {
			padding-top: 10px;
			max-width: 100%;
		}
		@media (max-width: $breakpoint480) {
			font-size: 18px;
			line-height: 135%;
		}
	}
}
.btn {
	// .btn__primary
	&__primary {
	}
	// .btn__secondary
	&__secondary {
	}
}
