.section__main {
	&:nth-child(even) {
		background-color: $primary;
	}
	&:nth-child(odd) {
		background-color: $secondary;
	}
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.title {
		font-size: 100px;
		color: #fff;
		@media (max-width: 768px) {
			font-size: 30px;
		}
	}
}
