.section {
	// .section__reviews
	&__reviews {
		background: #f6f7fb;
		padding: 106px 0;
		&-title {
			margin-top: 0;
		}
		@media (max-width: $breakpoint768) {
			padding: 50px 0;
		}
	}
	// .section__title
}

.reviews {
	display: flex;
	gap: 29px;
	margin-top: 40px;
	@media (max-width: $breakpoint992) {
		flex-wrap: wrap;
		margin-top: 20px;
		gap: 15px;
		justify-content: center;
	}
	// .reviews__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .reviews__item
	&__item {
		background: #ffffff;
		box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
		border-radius: 12px;
		padding: 32px;
		flex: 1;
		display: flex;
		flex-direction: column;
		@media (max-width: $breakpoint992) {
			flex: 0 1 48%;
			padding: 20px;
		}
		@media (max-width: $breakpoint480) {
			flex: 1 1 100%;
			padding: 20px;
		}
	}
	// .reviews__info
	&__info {
		display: flex;
		align-items: center;
		margin-bottom: 16px;
	}
}
.review {
	// .review__link
	&__link {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		display: flex;
		align-items: center;
		letter-spacing: 0.01em;
		color: #398bff;
	}
	// .review__info-item
	&__info-item {
		&:last-child {
			margin-left: 16px;
		}
	}
	// .review__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: -0.03em;
		color: $primary;
		margin-bottom: 8px;
	}
	// .review__subtitle
	&__subtitle {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: -0.03em;
		color: rgba(0, 23, 49, 0.3);
	}
	// .review__text
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #001731;
		opacity: 0.75;
		margin-bottom: 25px;
	}
	// .review__footer
	&__footer {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		gap: 15px;
	}
	// .review__footer-item
	&__footer-item {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: -0.03em;
		color: rgba(0, 23, 49, 0.3);
	}
}
