//Container & Breakpoints
@use 'sass:math';
$containerWidth: 1280;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
// $breakpoint1440: 1439.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: 'white';

//Fonts
$fontMain: 'Gilroy';
$fontSecondary: 'Montserrat';

//Colors
$red: #eb3d35;
$white: #fff;
$gray: #747887;
$primary: #001731;
$secondary: #398bff;
